C&Cpp/*.s linguist-vendored
Web/Ts*.js linguist-vendored
Web/bootstrap5/ linguist-vendored

BASIC/*.bas linguist-language=BASIC
Dart/*.dart linguist-language=Dart
Ruby/*.rb linguist-language=Ruby
VBA/*.bas linguist-language=VBA