C&Cpp/*.s linguist-vendored

BASIC/*.bas linguist-language=BASIC
Clojure/*.clj linguist-language=Clojure
Dart/*.dart linguist-language=Dart
Ruby/*.rb linguist-language=Ruby
VBA/*.bas linguist-language=VBA
