@charset "EUC-KR";

body {
	text-align: center;
	background-color: black;
    border: 2px solid white;
    border-radius: 40px;
}

#name1 {
	text-align: center;
	font-family: "Brush Script MT", "Comic Sans MS", Times, serif;
	font-size: 700%;
}

#name2 {
	text-align: center;
	font-family: "Brush Script MT", "Comic Sans MS", Times, serif;
	font-size: 700%;
}

#chameleon1 {
	text-align: center;
	font-family: "Brush Script MT", "Comic Sans MS", Times, serif;
	font-size: 600%;
}

#chameleon2 {
	text-align: center;
	font-family: "Brush Script MT", "Comic Sans MS", Times, serif;
	font-size: 600%;
}

#heart {
	display: inline;
}
#heart img {
	vertical-align: -30px;
	width: 120px;
	height: auto;
}

#year {
	display: inline;
}
#year img {
	vertical-align: -40px;
	width: 250px;
	height: auto;
}